<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'; style-src 'self'">
  <title>Welcome to SecureStorage</title>
</head>
<body>
  <h1>Welcome to SecureStorage.</h1>
  <h3>Please <a href="http://localhost:7777/login">login</a> or <a href="http://localhost:7777/register">register</a> first</h3>
</body>
</html>