<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <h2>Error: <%= error.message%> </h2>
  <h3><a href="http://localhost:7777<%= redirect%>">Click here to return</a></h3>
</body>
</html>