<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'; style-src 'self'">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to VulnStorage</title>
</head>
<body>
  <h1>Welcome to VulnStorage.</h1>
  <h3>Please <a href="<%= localUrl%>/login">login</a> or <a href="<%= localUrl%>/register">register</a> first</h3>
</body>
</html>